extends ../layouts/default.pug


block append variables
    - var activeElement="";
    - var pageId="club";

block content
    if data.club
        .row.vertical-align-center.pt-3.pb-5.w-100
            if data.club.logoImage.exists
                .offset-3.offset-sm-4.offset-md-0
                .col-6.col-sm-4.col-md-2
                    img(src=data.club._.logoImage.fit(120,120)).img.pull-right.w-100
                .offset-3.offset-sm-4.offset-md-0
                .col-12.col-md-auto
                    .py-3
                    h2.title.text-uppercase.text-center=data.club.name
                    if data.club.president.name.full
                        p President: <a href="!{'/students/'+data.club.president.slug}">#{data.club.president.name.full}</a>
                    .py-3
            else
                .col-12
                    .py-4
                    h2.title.text-uppercase=data.club.name
                    if data.club.president.name.full
                        p President: #{data.club.president.name.full}
                    .py-4
        
        if data.club.description.brief
            div
                | !{data.club.description.brief}
        if data.club.description.extended
            div
                | !{data.club.description.extended}         
        if (data.club.clubImage.exists)
            hr
            .row
                .offset-lg-3
                .col-12.col-lg-6
                    img(src=data.club._.clubImage.fit(840,840)).img.pull-right.w-100.image-center.px-3.pt-3.pb-5
