extends ../layouts/default
include ../mixins/fancybutton.pug

block append variables
    - var currentPage="contact";
        
block content
    .container.grey-background
        if enquirySubmitted
            h3 Thanks for getting in touch.
        else
            form.py-5.grey-background.text-center(method="post")
            .row
                .col-12
                    p.ask-us-anything ASK US ANYTHING
            .row
                .col-12
                    .form-group
                        input.form-control(type="text", aria-describedby="name", placeholder="NAME", value=formData.name)
            .row
                .col-12               
                    .form-group
                        input.form-control(type="email", aria-describedby="email", placeholder="EMAIL" value=formData.email)
            .row
                .col-12                
                    .form-group
                        textarea.form-control(aria-describedby="message", placeholder="MESSAGE", rows="7")=formData.mesesage
            .row
                .col-12.send
                        //- +fancybutton("buttongreen", "SEND", "")
                        button.btn.fancybutton(class="buttongreen" type="submit") SEND


        //- else
            .row: .col-sm-8.col-md-6
                form(method='post')
                    input(type='hidden', name='action', value='contact')
                    .form-group(class=validationErrors.name ? 'has-error' : null)
                        label Name
                        input(type='text', name='name.full', value=formData['name.full']).form-control
                    .form-group(class=validationErrors.email ? 'has-error' : null)
                        label Email
                        input(type='email', name='email', value=formData.email).form-control
                    .form-group
                        label Phone
                        input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
                    .form-group(class=validationErrors.enquiryType ? 'has-error' : null)
                        label What are you contacting us about?
                        select(name='enquiryType').form-control
                            option(value='') (select one)
                            each type in enquiryTypes
                                option(value=type.value, selected=formData.enquiryType == type.value)= type.label
                    .form-group(class=validationErrors.message ? 'has-error' : null)
                        label Message
                        textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
                    .form-actions
                        button(type='submit').btn.btn-primary Send
